extends layout

block content
  nav
    div( id="sidenav", class="sidenav")
      img(src='/images/menu.png', onClick="closeNav()", class="closebtn" )
      a(href="#about") ABOUT 
      a(href="#events") EVENTS
      a(href="#seminars") SEMINARS
      a(href="#schedule") SCHEDULE
      a(href="#venue") VENUE
    div(id='ham')
      img(src='/images/menu.png', onClick="openNav()")
    div(id='nav-content')
      img(src="/images/aavishkar.png")
      a(href="#about") ABOUT 
      a(href="#events") EVENTS
      a(href="#seminars") SEMINARS
      a(href="#schedule") SCHEDULE
      a(href="#venue") VENUE
      img(src="/images/ieeelogo.png", class="right")

  div(id='logos')
    img(src="/images/ramaiah.png", class='logo')
    img(src="/images/ieeeramaiah.png", class='logo')
  div(id='cover')
    div(id='branding')
      img(src="/images/aavishkar.png",style="width:80%;")
      h3 MARCH 24-25 2017
  div
    a(href="#content", class="scroll")
  div(id='content')
    div(id="about", class="page")
      //- div(id='top-space')
      h1 ABOUT
      div(id="content")
        div(id='info')
          p 
          |This is info about aavishkar. 
          p
          |Lorem ipsum dolor sit amet, 
          |consectetur adipiscing elit. Nunc eleifend nunc vel sapien 
          |scelerisque tincidunt. Mauris molestie lacus et purus 
          |vestibulum lacinia. Etiam consectetur gravida ligula, 
          |id laoreet tellus fringilla quis. Aliquam ultrices 
          |efficitur lacus eu porttitor. Sed aliquet dignissim felis 
          |eu porta. Nulla tincidunt justo quam, nec imperdiet sem 
          |viverra eu. Aenean rutrum urna in lorem suscipit, 
          |sed congue velit rutrum. Maecenas eget lobortis orci, 
          |sed tempor eros. Donec et lorem lacinia, tempus erat 
          |sit amet, rhoncus purus. Mauris ante dui, tempor eu 
          |elit sed, maximus egestas sem. Nunc vitae molestie quam, 
          |sed accumsan mauris. Nam non augue nunc. Morbi 
          |ullamcorper turpis sit amet ornare lacinia.


    div(id="events", class="page")
      //- div(id='top-space')
      h1 EVENTS
      div(id="list")
        div(id="list-item")
          div(id="picture", style="background-image: url(/images/back/codecode.jpg);background-position: center;background-size: contain; background-repeat: no-repeat;")
          div(id="info")
            h4 Open Coding
            h5 Online, 9:00PM- 11:59PM, 24 March 2107
            h5 &#8377 50 per person, Individual
        div(id="list-item")
          div(id="picture", style="background-image: url(/images/back/line.jpg);background-position: center;background-size: contain; background-repeat: no-repeat;")
          div(id="info")
            h4 Line Follower Robot
            h5 PitStop, 2PM onwards, 24 March 2107
            h5 &#8377 60 per team, Team of 3
        div(id="list-item")
          div(id="picture", style="background-image: url(/images/back/open.png);background-position: center;background-size: contain; background-repeat: no-repeat;")
          div(id="info")
            h4 Open Sourcing
            h5 Medical Software Lab, 1:30PM - 3:30PM, 24 March 2107
            h5 &#8377 60 per team, Team of 2
        div(id="list-item")
          div(id="picture", style="background-image: url(/images/back/coding.jpg);background-position: center;background-size: contain; background-repeat: no-repeat;")
          div(id="info")
            h4 Coding(1st and 2nd year)
            h5 CSE Labs, 2:00PM - 4:00PM, 24 March 2107
            h5 &#8377 40 per person, Individual
        div(id="list-item")
          div(id="picture", style="background-image: url(/images/back/quiz.jpg);background-position: center;background-size: contain; background-repeat: no-repeat;")
          div(id="info")
            h4 TechQuiz A/V
            h5 Hi-Tech Seminar Hall, 9:00 - 5:00, 24 March 2107
            h5 &#8377 60 per team, Team of 2
        div(id="list-item")
          div(id="picture", style="background-image: url(/images/back/password.jpg);background-position: center;background-size: contain; background-repeat: no-repeat;")
          div(id="info")
            h4 Password
            h5 CSE labs, 2PM onwards, 24 March 2107
            h5 &#8377 60 per team, Team of 3
        div(id="list-item")
          div(id="picture", style="background-image: url(/images/back/tech3.jpg);background-position: center;background-size: contain; background-repeat: no-repeat;")
          div(id="info")
            h4 Hackatronics
            h5 LHC Basement, 9:00AM - 5:00PM, 25 March 2107
            h5 &#8377 500 per team, Team of 3-4 
        div(id="list-item")
          div(id="picture", style="background-image: url(/images/back/debug.jpg);background-position: center;background-size: contain; background-repeat: no-repeat;")
          div(id="info")
            h4 Debugging
            h5 CSE Labs, 1:00PM - 2:00PM, 25 March 2107
            h5 &#8377 40 per team, Individual
        div(id="list-item")
          div(id="picture", style="background-image: url(/images/back/debate.png);background-position: center;background-size: contain; background-repeat: no-repeat;")
          div(id="info")
            h4 Tech Debate
            h5 LHC Seminar Hall, 2:30PM - 3:30PM, 25 March 2107
            h5 &#8377 30 per team, Individual
    div(id="seminars", class="page")
      h1 SEMINARS
      div(id="list")
        div(id="list-item")
          div(id="picture", style="background-image: url(/images/back/github.jpg);background-position: center;background-size: contain; background-repeat: no-repeat;")
          div(id="info")
            h4 GitHub
            h5 LHC Seminar hall, 1:30 - 3:30, 25 March 2017
            h5 free with any event 
        div(id="list-item")
          div(id="picture", style="background-image: url(/images/back/opensource.png);background-position: center;background-size: contain; background-repeat: no-repeat;")
          div(id="info")
            h4 FOSS
            h5 Zoom Webinar, 9:30 PM - 10:30PM, 25 March 2017
            h5 free with any event 
    div(id="schedule", class="page")
      //- div(id='top-space')
      h1 SCHEDULE
      table
        
    div(id="venue", class="page")
      //- div(id='top-space')
      h1 VENUE
      div(id="venue-content")
        h4 WHEN
        p
        | Ramaiah Institute of Technology
        p
        | MSR Nagar, Mathikere
        p
        | Bangalore -54
        h4 WHERE
        p
        | 24-25 March 2017
      <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3639.3598311562437!2d77.56448328922784!3d13.030953224639557!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae17dedd4dcca9%3A0x6075bd8d8aed97ab!2sRamaiah+Institute+of+Technology!5e0!3m2!1sen!2sin!4v1489813704104" frameborder="0" style="border:0" allowfullscreen></iframe>
    div(id="footer")
      h3 This site is developed by ESHWAR M S

