extends layout

block content
  nav
    img(src="/images/ieeelogo.png", style="height:80%; margin:auto;")
  div(id='cover')
    div(id='branding')
      h1= title
      h3 MARCH 24-25 2107
  div
    a(href="#cover2", class="scroll")
  div(id='cover2')
    div(id='top-space')
    h1 Welcome to #{title}
    br
    h3 Events
