extends layout

block content
  div(id='cover')
    div(id='branding')
      h1= title
  div
    a(href="#cover2", class="scroll")
  div(id='cover2')
    div(id='top-space')
    h1 Welcome to #{title}
    br
    h3 Events
