html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
  position: absolute;
}
nav{
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 100;
  border: 1px white;
  background: #aaa;
  display: none;
  box-sizing: border-box;
}

#ham{
  display: none;
}
@media (max-width:900px){
  #nav-content{
    display: none;
  }
  #ham{
    display: inline-block;
    margin-left: -20px;
  }
}
nav #nav-content{
    width: 100%;
}
nav #nav-content a{
  padding: 10px;
  text-decoration: none;
  margin: 2px;
  color: white;
}
nav #nav-content a:hover{
  text-decoration: none;
  background-color: rgba(50, 50, 50, .2);
  border-radius: 5px;
}
nav img{
  padding: 5px; 
  height:40px; 
  margin:auto; 
  margin-left:20px; 
  vertical-align:middle;
}
.right{
  float: right;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes arrow {
    0%   {-webkit-transform: translateY(0px) translateX(-25%);}
    50%  {-webkit-transform: translateY(15px) translateX(-25%);}
    100% {-webkit-transform: translateY(0px) translateX(-25%);}
}

/* Standard syntax */
@keyframes arrow {
    0%   {transform: translateY(0px) translateX(35px);}
    50%  {transform: translateY(15px) translateX(35px);}
    100% {transform: translateY(0px) translateX(35px);}
}
#logos{
  position: absolute;
  top: 30px;
  right: 50%;
	text-align:center; 
  transform: translateX(50%);
  height: 30%;
}
@media screen and (max-width: 480px) {  
  .logo{
    height: 20%;
  }
}
.logo{
  height: 30%;
}
.scroll{
	width:50px; 
	height:50px;
	padding:10px; 
	text-align:center; 
	font-weight: bold;
	color: navajowhite;
	text-decoration: none;
	position:absolute;
	bottom:75px;
  margin: 0 auto;
  right: 50%;
  -webkit-transform: translateX(35px);
  -ms-transform: translateX(35px);
  transform: translateX(35px);
  font: 10px;
	background: url('/images/down.png') no-repeat 0px 20px;
  background-size: contain;
  animation: arrow 2s infinite;
}
.scroll:hover{
	text-decoration:none;
}
#cover{
  width: 100%;
  height: 100%;
  background: #005587;
  background-size: cover;
  top: 0; right: 0; bottom: 0; left: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
#branding{
  font: 25px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: navajowhite;
  align-self: center;
  text-align: center;
}
#next{
  align-self: flex-end;
}
#content{
  height: 100%;
  background: white;
  box-sizing: border-box;
}
.page{
  width: 100%;
  min-height: 80%;
  /*padding-left: 30px;*/
  box-sizing: border-box;
  padding-bottom: 30px;
}
@media (max-width:1500px){
  .page{
    padding: 40px;
  }
}
@media (max-width:500px){
  .page h1{
    padding: 10px;
    padding: 0px;
  }
}
a {
  font: 10px;
}
#top-space{
  padding: 0px;
  width: 100%;
  margin: 0px;
  height: 50px;
}
#about{
  text-align: center;
  background: white;
  color: grey;
}
#about h1{
  text-align: left;
}
#about #content{
  width:80%;
  background-color: dimgrey;
  height: 60%;
  display: inline-block;
  padding-top: 10px;
  color: white;
}
/*#about #content #images{
  width: 50%;
  box-sizing: border-box;
  margin: 0px;
  display: inline-block;
}*/
#about #content #info{
  /*width: 50%;*/
  box-sizing: border-box;
  padding: 20px;
  display: inline-block;
  text-align: justify;
}
#events{
  background-color: maroon;
  color: antiquewhite;
}
#events #list{
  width: 90%;
  border: 1px solid white;
  display: flex;
  margin: auto;
  flex-wrap:wrap;
  justify-content: center;

}
#events #list #list-item{
  height: 420px;
  width: 420px;
  background: 1px solid lightblue;
}
#seminar{
  background-color: lightblue;
  color: blue;
}
#schedule{
  background-color: lightseagreen;
  color: black;
}
@media (max-width:1500px){
  #map{
    width: 50%;
  }
}
@media (max-width:500px){
  #map{
    width: 100%;
  }
}
#venue{
  background-color: white;
  color: black;
}
#footer{
  background-color: grey;
  color: antiquewhite;
}