html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
  position: absolute;
}
nav{
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 100;
  border: 1px white;
  background: #aaa;
  display: none;
  box-sizing: border-box;
}
#Sidenav{
  display: none;
}
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: grey; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    width: 20px;
    left: -10px;
    font-size: 36px;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
#ham{
  display: none;
}
@media (max-width:900px){
  #nav-content{
    display: none;
  }
  #ham{
    display: inline-block;
    margin-left: -20px;
  }
}
nav #nav-content{
    width: 100%;
}
nav #nav-content a{
  padding: 10px;
  text-decoration: none;
  margin: 2px;
  color: white;
}
nav #nav-content a:hover{
  text-decoration: none;
  background-color: rgba(50, 50, 50, .2);
  border-radius: 5px;
}
nav img{
  padding: 5px; 
  height:40px; 
  margin:auto; 
  margin-left:20px; 
  vertical-align:middle;
}
.right{
  float: right;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes arrow {
    0%   {-webkit-transform: translateY(0px) translateX(-25%);}
    50%  {-webkit-transform: translateY(15px) translateX(-25%);}
    100% {-webkit-transform: translateY(0px) translateX(-25%);}
}

/* Standard syntax */
@keyframes arrow {
    0%   {transform: translateY(0px) translateX(35px);}
    50%  {transform: translateY(15px) translateX(35px);}
    100% {transform: translateY(0px) translateX(35px);}
}
#logos{
  position: absolute;
  top: 30px;
  right: 50%;
	text-align:center; 
  transform: translateX(50%);
  height: 30%;
}
@media screen and (max-width: 480px) {  
  .logo{
    height: 20%;
  }
}
.logo{
  height: 30%;
}
.scroll{
	width:50px; 
	height:50px;
	padding:10px; 
	text-align:center; 
	font-weight: bold;
	color: navajowhite;
	text-decoration: none;
	position:absolute;
	bottom:75px;
  margin: 0 auto;
  right: 50%;
  -webkit-transform: translateX(35px);
  -ms-transform: translateX(35px);
  transform: translateX(35px);
  font: 10px;
	background: url('/images/down.png') no-repeat 0px 20px;
  background-size: contain;
  animation: arrow 2s infinite;
}
.scroll:hover{
	text-decoration:none;
}
#cover{
  width: 100%;
  height: 100%;
  background: #005587;
  background-size: cover;
  top: 0; right: 0; bottom: 0; left: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
#branding{
  font: 25px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: navajowhite;
  align-self: center;
  text-align: center;
}
#next{
  align-self: flex-end;
}
#content{
  height: 100%;
  background: white;
  box-sizing: border-box;
}
.page{
  width: 100%;
  min-height: 80%;
  /*padding-left: 30px;*/
  box-sizing: border-box;
  padding-bottom: 30px;
}
@media (max-width:1500px){
  .page, #about{
    padding: 40px;
  }
  
}
@media (max-width:500px){
  .page h1, #about h1{
    padding: 10px;
  }
}
a {
  font: 10px;
}
#top-space{
  padding: 0px;
  width: 100%;
  margin: 0px;
  height: 50px;
}
#about{
  text-align: center;
  background: white;
  color: grey;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 40px;
}
#about h1{
  text-align: left;
}
#about #info{
  background-color: lightblue;
  height: 60%;
  display: inline-block;
  line-height: 2;
  width: 70%;
  min-width: 280px;
  padding: 15px;
  color: black;
  box-sizing: border-box;
  text-align: justify;
  margin: auto;
}
#events{
  background-color: maroon;
  color: antiquewhite;
}
#list{
  width: 95%;
  /*border: 1px solid black;*/
  display: flex;
  margin: auto;
  flex-wrap:wrap;
  justify-content: center;

}
#list #list-item{
  /*background-image: url(/image/aa);*/
  background-position: center;background-size: contain; background-repeat: no-repeat;
  height: 300px;
  min-width: 340px;
  margin: 10px;
  /*border: 1px solid lightblue;*/
  box-sizing: border-box;
}
#list #list-item #picture{
  /*position: absolute;*/
  height: 60%;
  border: 1px solid lightblue;
  border-bottom: 0px;
  box-sizing: border-box;
}
#list #list-item #info{
  /*position: absolute;*/
  height: 40%;
  border: 1px solid lightblue;
  box-sizing: border-box;
  text-align: center;
  background-color: rgba(0, 0, 0, .2);
}
#seminar{
  background-color: lightblue;
  color: blue;
}
#schedule{
  background-color: lightseagreen;
  color: black;
}
@media (max-width:1500px){
  #map{
    width: 50%;
    height: 450px;
    display: inline-block;
    right: 0px;
  }
}

#venue-content{
  text-align: center;
  display: inline-block;
  width: 50%;
  padding-bottom: 20px;
  vertical-align: top;
}
@media (max-width:500px){
  #map{
    width: 100%;
    height: 300px;
    display: inline-block;
  }
  #venue-content{
    text-align: center;
    display: inline-block;
    width: 100%;
    padding-bottom: 20px;
    vertical-align: top;
  }
}
#venue{
  background-color: white;
  color: black;
}
#footer{
  background-color: grey;
  color: whitesmoke;
  margin: 0px;
  padding: 20px;
  text-align: center;
}